/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #171b1c;
  color: #ffffff;
}

main {
  display: flex;
  gap: 5rem;
  margin: 3rem auto;
  max-width: 55rem;
}

.temperatures {
  padding: 2rem;
  border-radius: 10px;
  background:#171b1c;
  font-size: 1.2rem;
  box-shadow: 0 0 8px #5650ff;
  border: 3px solid #5650ff;
}

.temperatures header {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 2rem;
  border-bottom: #5650ff 2px solid;
  line-height: 1.5rem;
}

.temperatures img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.temperatures h2 {
  text-align: left;
  font-size: 1.25rem;
  color: #a3c0e0;
  margin: 0;
}

.temperatures header p {
  margin: 0;
  font-weight: bold;
  font-size: 0.85rem;
}

.temperatures ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.temperatures li {
  margin: 0.5rem;
}
